<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to Quiz APP</h1>
    <p class="col-md-8 fs-4">This quiz will contain total 9 questions. Each Question holds 10 points</p>
<h1>RULES</h1>
<ol>
    <li>Correct answer gives you 10 points.</li>
    <li>Incorrect answer gives you -10 points.</li>
    <li>You have 60 sec to answer each question.</li>
    <li>Refereshing the page will rest the Quiz.</li>
</ol><hr>
<!-- <h1 style="font-family: cursive; text-align: center;">ALL THE BEST!!!</h1> -->
<div class="name col-md-4 my-3">
    <label for="">Enter your name:</label>
    <input #name type="text" class="form-control">
</div>
<button class="btn btn-primary btn-l" routerLink="/question" (click)="startQuiz()">START</button>
</div>
